img {
	max-width: 100%;
	max-height: 100%;
}
		
body {
	margin: 0;
	padding:0;
	width:100%;
	position: relative;
}
	
.button {			
	height: 20px;
	cursor:pointer;
	border: 1px dashed red;
	position: absolute;	
}

.images {
	display: none;
}

/* Menu bar */

/* Menu Storage Array */
#menu_storage_array{
	top:6.5%;
	left:0.3%;
	width:60px;
}
#storageArraySecurity{
	top: 12%;
	left: 1.5%;
	width:125px;
}
#storageArraychange{
	top: 15%;
	left: 1.5%;
	width:125px;
}
#storageArrayconfiguration{
	top: 18%;
	left: 1.5%;
	width:125px;
}

#storageArrayconfigurationAutomatic{
	top: 18%;
	left: 9%;
	width:100px;
}
#storageArrayconfigurationClear{
	top: 25.6%;
	left: 9%;
	width:100px;
}
#driveSecurity{
	top: 13.6%;
	left: 9%;
	width:90px;
}

#storageArraySecurityKeyManagement{
	top: 13.6%;
	left: 15%;
	width:110px;
}
/* end */
#menu_storage{
	top:6.5%;
	left: 4.5%;
	width:25px;
}

#diskPool{
	top: 9%;
	left: 5%;
	width:90px;
}

#volumeGroup{
	top: 12%;
	left: 5%;
	width:90px;
}
#volume{
	top: 15%;
	left: 5%;
	width:90px;
}
#ssdCache{
	top: 18%;
	left: 5%;
	width:90px;
}
#storageDiskPoolChange{
	top: 27%;
	left: 12%;
	width:90px;
}
#storageDiskPoolAdvanced{
	top: 34.7%;
	left: 12%;
	width:90px;
}
#storageVolumeGroupChange{
	top: 27.8%;
	left: 12%;
	width:90px;
}
#storageVolumeGroupAdvanced{
	top: 35.4%;
	left: 12%;
	width:90px;
}
#volumeCreate{
	top: 15%;
	left: 12%;
	width:90px;
}
#volumeSsdCache{
	top: 23%;
	left: 12%;
	width:90px;
}
#volumeChange{
	top: 25.5%;
	left: 12%;
	width:90px;
}
#volumeAdvanced{
	top: 41.4%;
	left: 12%;
	width:90px;
}
 /* end */
#menu_copy_services{
	top:6.5%;
	left: 7.2%;
	width:50px;
}
#volumeCopy{
	top:9%;
	left: 8%;
	width:210px;
}
#snapshotGroup{
	top:11.5%;
	left: 8%;
	width:210px;
}
#snapshotImage{
	top:14%;
	left:8%;
	width:210px;
}
#snapshotVolume{
	top:16.3%;
	left:8%;
	width:210px;
}
#consistencyGroup{
	top:18.7%;
	left:8%;
	width:210px;
}
#consistencyGroupSnapshotImage{
	top:21%;
	left:8%;
	width:210px;
}
#consistencyGroupSnapshotVolume{
	top:23%;
	left:8%;
	width:210px;
}
#consistencyGroupMemberVolume{
	top:25.3%;
	left:8%;
	width:210px;
}
#mirroring{
	top:28%;
	left:8%;
	width:210px;
}

#csoverallRepository{
	top:22%;
	left:20%;
	width:190px;
}
#csAdvanced{
	top:35.5%;
	left:20%;
	width:190px;
}

#rollback{
	top:19%;
	left:20%;
	width:160px;
}
#snapAdvanced{
	top:26.6%;
	left:30%;
	width:90px;
}
#snapSsdCache{
	top:29.7%;
	left:21%;
	width:90px;
}
#snapVolOverallRepository{
	top:32.6%;
	left:21%;
	width:90px;
}
#snapVolAdvanced{
	top:46.5%;
	left:21%;
	width:90px;
}

#cgSnapshotImage{
	top:22%;
	left:21%;
	width:190px;
}
#cgAdvanced{
	top:39.5%;
	left:21%;
	width:190px; 
}

#cgSnapVolRollback{
	top:25.7%;
	left:21%;
	width:190px;
}
#cgSnapVolSsdCache{
	top:31%;
	left:21%;
	width:60px;
}
#cgMemberOverallRepo{
	top:28%;
	left:21%;
	width:130px;
}
#cgMemberAdvanced{
	top:33.7%;
	left:21%;
	width:130px;
}
#asyncMirroring{
	top:36%;
	left:21%;
	width:130px;
}
#syncMirroring{
	top:38.7%;
	left:21%;
	width:130px;
}
#mirrorGroup{
	top:35.8%;
	left:32%;
	width:70px;
}
#mirroredPair{
	top:38%;
	left:32%;
	width:70px;
}
#mirrorGroupChange{
	top:50%;
	left:38%;
	width:130px;
}
#mirrorGroupAdvanced{
	top:63%;
	left:38%;
	width:130px;
}

#mirroredPairOverallRepo{
	top:43.5%;
	left:38%;
	width:100px;
}

#syncMirroringChange{
	top:47%;
	left:32%;
	width:100px;
}
/* end */
#menu_host_mapping{
	top:6.5%;
	left: 11.5%;
	width:50px;

}
#hostMappingDefine{
	top:9%;
	left:12.5%;
	width:150px;
}
#hostMappingLunMapping{
	top:12%;
	left:12.5%;
	width:150px;
}
#hostMappingDefaultGroup{
	top:19.5%;
	left:12.5%;
	width:150px;
}
#hostMappingHostGroup{
	top:21.7%;
	left:12.5%;
	width:150px;
}
#hostMappingHost{
	top:24%;
	left:12.5%;
	width:150px;
}
/* end */
#menu_hardware{
	top:6.5%;
	left: 16%;
	width:30px;
}
#hardwareLocate{
	top:9%;
	left:17%;
	width:110px;
}
#hardwareTray{
	top:11.6%;
	left:17%;
	width:110px;
}
#hardwareController{
	top:14%;
	left:17%;
	width:110px;
}
#hardwareDrive{
	top:16.3%;
	left:17%;
	width:110px;
}
#trayViewEdit{
	top:11.6%;
	left:25%;
	width:60px;
}
#trayChange{
	top:14%;
	left:25%;
	width:60px;
}

#controllerConfigure{
	top:16%;
	left:25%;
	width:90px;
}
#controllerChange{
	top:19%;
	left:25%;
	width:90px;
}
#controllerAdvanced{
	top:22%;
	left:25%;
	width:90px;
}
#controllerRunDiag{
	top:24%;
	left:33%;
	width:110px;
}
#driveAdvanced{
	top:24%;
	left:25%;
	width:90px;
}
/* end */
#menu_monitor{
	top:6.5%;
	left: 19%;
	width:30px;
}
#monitorHealth{
	top:9%;
	left: 19%;
	width:60px;
}
#monitorReports{
	top:12%;
	left: 19%;
	width:60px;
}

#monitorPerformance{
	top:11%;
	left: 24%;
	width:160px;
}
#monitorAutosupport{
	top:16%;
	left: 24%;
	width:160px;
}
#monitorStorageArrayDiag{
	top:20%;
	left: 24%;
	width:160px;
}
#monitorDriveData{
	top:23%;
	left: 24%;
	width:160px;
}
#realtimePerf{
	top:10.8%;
	left:36%;
	width:160px;
}
#backgroundPerf{
	top:13%;
	left:36%;
	width:160px;
}

#asupEnableDisable{
	top:16%;
	left:36%;
	width:60px;
}

#healthImage{
	top:26%;
	left:36%;
	width:160px;
}
/* end */
#menu_upgrade{
	top:6.5%;
	left: 21.5%;
	width:35px;
}
#upgradeControllerFW{
	top:11.5%;
	left: 22.5%;
	width:130px;
}
/* end */
#menu_help{
	top:6.5%;
	left: 24%;
	width:25px;
}
/* Tab sections */
#summary{
	width:80px;
	top: 16%;
	left: 1.5%;
}

#performance{
	width:80px;
	top: 16%;
	left: 7%;
}

#storage_copy_services {
	width:170px;
	top: 16%;
	left: 12%;
}
#host_mapping{	
	width:90px;		
	top: 16%;
	left: 22%;
}
#hardware {
	width:60px;
	top: 16%;
	left: 28.5%;
}
#setup{
	width:50px;
	top: 16%;
	left: 33%;
}
#locate_storage_array {
	width:110px;
	top: 27%;
	left: 2.8%;
}
#setup_rename_storage_array {
	top: 31%;
	width:120px;
	left: 2.8%;
}
#setup_change_hardware_view_order{
	top:35%;
	width:160px;
	left: 2.7%;
}
#setup_set_storage_array_password{
	top:39%;
	width:158px;
	left: 2.8%;
}
#setup_manage_premium_features{
	top:43%;
	width:145px;
	left: 2.8%;
}
#setup_create_storage{
	top:47%;
	width:80px;
	left: 2.8%;
}
#setup_save_configuration{
	top:51%;
	width:100px;
	left: 2.5%;
}
#setup_manually_define_host{
	top:58.5%;
	width:118px;
	left: 2.8%;
}
#setup_map_volumes{
	top:63%;
	width:70px;
	left: 2.8%;
}
#setup_configure_ethernet_management_ports{
	top:67%;
	width:205px;
	left: 2.8%;
}
/*Summary*/
#view_firmware_inventory {
	top: 34%;
	left: 2%;
	width: 135px;
	height:17px;

}
#view_storage_array_profile{
	top: 36%;
	left: 2%;
	width: 140px;
	height:17px;

}
#view_event_log{
	top: 38%;
	left: 2%;
	width: 83px;
	height:17px;

}
#collect_support_data_manually{
	top:40%;
	left: 2%;
	width: 163px;
}

#create_storage{
	top:53.6%;
	left: 9%;
	width:80px;
}
#host_to_volume_mappings{
	top:31%;
	left:34%;
	width: 142px;
}
#manage_premium_features{
	height: 15px;
	top:56%;
	left: 32.8%;
	width: 150px;
}
#online_help{
	top: 50%;
	left: 48.7%;
	width: 65px;
	height:17px;
}
#storage_concepts_tutorial{
	top:52%;
	left:48.7%;
	width:140px;
	height:17px;
}
#planning_your_configuration{
	top:54%;
	left: 48.7%;
	width:152px;
	height: 16px;
	height:17px;

}
#configuring_your_storage_array{
	top:56%;
	left: 48.7%;
	width:165px;
	height:17px;

}
#eseential_terms_to_know{
	top:58%;
	left: 48.7%;
	width:135px;
	height: 17px;
}

#close_inventory {
	bottom:24.1%;
	left:44.2%;
	width:62px;
}
#close_storage_array_profile{
	bottom:25%;
	left:63%;
	width:62px;
}

#close_event_log{
	bottom:33%;
	left:49%;
	width:62px;
}
#close_support_data{
	bottom: 29%;
	left:48%;
	width:62px;
}
#close_volume_mappings{
	bottom: 32%;
	left:48.7%;
	width:62px;
}
#close_premium_features{
	bottom: 14%;
	left:46.5%;
	width:62px;
}
/* Performance */
#launch_real_time_textual_performance_monitor{
	top:20%;
	left:15.8%;
	width:245px;
}
#launch_background_performance_monitor{
	top:20%;
	left:30.7%;
	width:225px;
}
#create_new_real_time_performance_graph{
	bottom: 18%;
	right: 11%;
	width:220px;
}

/* Storage Copy Services */
#storage_array{
	top: 21.8%;
	left: 1.7%;
	width:160px;
}
#all_logical_objects{
	top: 24.1%;
	left: 2.5%;
	width:125px;
}
#total_unconfigured_capacity{
	top: 26.6%;
	left: 2.5%;
	width:245px;
}
/* #unconfigured_capacity_hdd{
	top: 32%;
	left: 2.5%;
	width:120px;
}
#unconfigured_capacity_ssd{
	top: 21.8%;
	left: 2.5%;
	width:120px;
} */
#ssd_cache{
	top: 28.8%;
	left: 2.5%;
	width:90px;
}
#consistency_groups{
	top: 31%;
	left: 2.5%;
	width:147px;
}
#asynchronous_mirror{
	top: 33.3%;
	left: 2.5%;
	width:180px;
}

/* Host Mappings */

#storage_array_host{
	top: 21.8%;
	left: 1.7%;
	width:180px;
}
#undefined_Mappings{
	top: 24.2%;
	left: 2.5%;
	width:140px;
}
#default_group{
	top: 26.6%;
	left: 2.5%;
	width:105px;
}
#unassociated_host_port_identifiers{
	top: 29%;
	left: 2.5%;
	width:205px;
}

/* Hardware */
#controlador_A {
	top: 25%;
	left:7%;
	height: 50px;
	width:220px;
}
#complete_controller_properties{
	top: 23%;
	left:25.8%;
	width:200px;
	height: 17px;
}
#view_tray_component{
	top:40.5%;
	left:18%;
	width:120px;
	height: 17px;
}
#sample_disk_unasigned{
	top: 60%;
	left:6%;
	width: 47px;
	height: 40px;
}
#sample_disk_assigned{
	top: 48%;
	left:6%;
	width: 47px;
	height: 40px;
}




